/* basically tong body is para sa general style ng contents */
body {
    background: linear-gradient(45deg, #7cffb3, #b4eade, #cef6cf, #fbc2eb);
    background-size: 300% 300%;
    animation: gradientShift 8s ease infinite;
    line-height: 1.6;
    margin-bottom: 100px;
    padding-bottom: 80px;
}

/* for header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87CEEB;
    padding: 10px 0;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0;
    margin: 0;
}

header ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    background: linear-gradient(135deg, #5DADE2, #3498DB);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

header ul li a:hover {
    background: linear-gradient(135deg, #3498DB, #2980B9);
    transform: translateY(-3px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.header-content {
    font-family: Brush Script MT, cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-grow: 1;
}

/* logo button */
#logo-kunwari {
    width: 80px;
    height: 80px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8MdMbbYVbSboHUDlW1lWlbi_zotNa_eyMAA&s);
    background-size: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-folder li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* for other contents */
.content {
    padding: 20px;
    text-align: center;
}

/* for texts and shit */
.impact-text {
    font-family: Impact, sans-serif;
    font-size: 32px;
    color: black;
    margin: 0;
}

/* para sa monke pics */
.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.gallery img {
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

#login {
    width: 80px;
    height: 80px;
    background: url(https://cdn-icons-png.flaticon.com/512/6681/6681204.png);
    background-size: cover;
    border-radius: 50%;;
    display: flex;
    align-items: right;
    justify-content: center;
}
